* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Arial, sans-serif;

  background: #08000f;
  color: white;
}

.container {
  width: 90%;
  max-width: 420px;
  text-align: center;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 4px;
  color: #a855f7;
}

.subtitle {
  letter-spacing: 8px;
  color: #c084fc;
  margin-bottom: 30px;
}

.auth-box {
  padding: 30px;
  border-radius: 20px;

  background: #12051d;
  border: 1px solid #6b21a8;

  box-shadow: 0 0 30px rgba(168, 85, 247, 0.25);
}

.auth-box h2 {
  margin-bottom: 25px;
}

input {
  width: 100%;
  padding: 14px;
  margin: 8px 0;

  border: 1px solid #4c1d95;
  border-radius: 10px;

  background: #08000f;
  color: white;

  outline: none;
}

input:focus {
  border-color: #a855f7;
}

button {
  width: 100%;
  padding: 14px;
  margin-top: 15px;

  border: none;
  border-radius: 10px;

  background: #9333ea;
  color: white;

  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #a855f7;
}

p {
  color: #aaa;
}

p span {
  color: #c084fc;
  cursor: pointer;
  font-weight: bold;
}

.hidden {
  display: none;
}

#loginMessage,
#registerMessage {
  margin-top: 15px;
  color: #c084fc;
  font-size: 14px;
}
